@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0px;
    font-family: "Roboto", sans-serif;
      
}
.wrapper_header{
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/movie-poster-background-p5qblffj7cvswl5g.jpg");
    background-position: center;
    background-size: cover;
}
.header_class{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
    align-items: center;
    padding-top: 30px;
    /* margin: auto; */
}
.header_logo img{
    height: 40px;
}
.header_sign{
    padding:9px 18px;
    background-color:rgb(230, 16, 27);
    color: white;
    border: none;
    border-radius: 8px;
}
.content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 15px;
}
.content_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content h1{
    font-size: 45px;
}
.content h3{
    font-size: 25px;
}
.content p{
    font-size: 18px;
}
.content_input{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.content_input input{
    font-size: 20px;
    color: white;
    width:25%;
    padding: 10px 20px;
    background-color: rgba(62, 62, 62, 0.5);
    /* border: none; */
}
.content_input button{
 background:rgb(230, 16, 27);
 padding: 10px 20px;
 font-size: 20px;
 border: none;
 display: flex;
 gap: 12px;
 color: white;
}
.movie{
    background-color: black;
    color:rgb(177, 177, 177);
}
.movie_container{
    height: 100vh; 
    border-top: 8px solid rgb(52, 52, 51);
    display: flex;
    align-items: center;
}
.movie_cover_img{
    flex: 1;
}
.movie_cover_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
   
}
.container{
  padding: 0px 80px;
}
.movie_cover_joker{
    height:500px;
    width: 500px;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(61, 8, 8, 0.6)), url("/img/img3.jpg");
    background-position: bottom;
    background-size: cover;
    border-radius: 20px;
}
.movie_cover_ball{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ball{
    height: 12px;
    width:12px;
    background-color: rgb(230, 16, 27);
    border-radius: 100%;
}
.header_tag{
    font-size: 45px;
    color: rgb(230, 16, 27);
}
.header_intro{
    font-size: 20px;
}
.header_parag{
    line-height: 25px;
}
.header_btn{
    width: 100px;
    padding: 10px 15px;
    background:rgb(230, 16, 27);
    color: white;
    border-radius:60px;
    border: none;
    cursor: pointer;
}
.header_btn:hover{
    background-color:rgb(177, 177, 177);
    color:rgb(230, 16, 27);
    transition: 1s ease-in-out;
}
.movie_cover_priest{
    height:500px;
    width: 500px;
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(1, 1, 15, 0.1)), url("/img/img2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.priest{
 display: flex;
 justify-content: flex-end;
}
.header_tag_priest{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(230, 16, 27);
}
.movie_cover_crown{
    height:500px;
    width: 500px;
    background:linear-gradient(rgba(177, 143, 104, 0.1),rgba(0, 0, 0, 0.6)), url("/img/img1.jpg");
    background-position: top;
    background-size: cover;
    border-radius: 20px;
}
.footer_section{
    border-top: 8px solid rgb(52, 52, 51);
    background-color:black;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
  
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.footer_links{
    color:white;
}
.header_tag_crown{
    text-transform: uppercase;
    font-size: 25px;
    line-height:45px;
    color: rgb(230, 16, 27);
}
.header_tag_crown p{
    color: rgb(177, 177, 177);
    font-size:15px;
    letter-spacing: 5px;
    font-weight: 100;
}
.header_tag_crown h2{
    letter-spacing: 15px;
    font-weight:900;
}
.header_tag_crown h3{
    font-weight: 900;
}
.footer_select{
    padding: 8px 16px;

}
.footer_select option{
    color: black;
}
.footer_net{
    color: rgb(230, 16, 27);
}